############################################################################
#
# test.cfg -- configuration file for test_app
#
############################################################################

############################################################################
#
# This feature is not implemented yet.
#  (please do not change)
#

AUDIT=http://localhost:8888/

#
############################################################################

############################################################################
#
# Up to 10 OSP servers can be added.
# If you add more OSP Servers to this list, make sure that you define
# MSGCOUNT (defined in the next section) for each of these SP.
#
# To test against an OSP server:
#   Replace SERVER_FQ_DOMAIN_NAME:PORT# with the appropriate server's fully
#   qualified domain name and port.
#
# For non-SSL messages:
# SP=http://SERVER_FQ_DOMAIN_NAME:PORT#/osp
#
# For SSL messages:
# SP=https://SERVER_FQ_DOMAIN_NAME:PORT#/osp
#
# In order to use test_app with a TransNexus OSP Test Server, use the
#     following address. This server is configured for non-SSL
#     messages only.
#SP=https://osptestserver.transnexus.com:1443/osp
SP=http://osptestserver.transnexus.com:5045/osp

#
# Maximum message count for each SP.
# Make sure that the number of MSGCOUNT's defined equals the number 
# of SP defined above. 
#
# If the MSGCOUNT is set to NULL, then the count for all SP is set to 0.
# MSGCOUNT can either be set to NULL, 0 or a positive value.
# 
MSGCOUNT=1000


#
# Maximum number of connection objects that can be created in the OSP Toolkit
# 
DEF_HTTP_MAXCONN=10

#
# Source and Device Identifiers.
# In the case of a GW<->GW call,
# { SRC=IP addr of the Originating GW
#   SRCDEV is left empty
#   DST=IP addr of the Terminating GW
#   DSTDEV is left empty
# } 
# If a Proxy is involved between the two GW's,then the 
# { SRCDEV=IP addr of the Originating GW
#   SRC=IP addr of the Proxy
#   DST=IP addr of the Terminating GW 
#   DSTDEV is left empty
# }
# To set any field = NULL, set =0. Leave no space b/n = and 0!
# To set any field = "",Leave it empty. 
SRC=
SRCDEV=
DST=
DSTDEV=

#
# In order to report usage with an address different from the one that was reported in Auth Req, 
# modify the following values
#
ModifiedSRC=0
ModifiedSRCDEV=0
ModifiedDST=0
ModifiedDSTDEV=0

#
# Is Hardware support enabled ?
#
HWSUPPORT=0

#
#
# Up to 10 URLs for reporting capabilities indications can be added.
# If you add more OSP Servers to this list, make sure that you define
# CapMSGCOUNT (defined in the next section) for each of these SP.
# The URLs can be provisioned to the toolkit by calling 
# OSPPProviderSetCapabilitiesURLs - test case 14.  The messages can
# be reported using test case 37 or 101
#
#
CapURL=http://osptestserver.transnexus.com:7080/osp
OUTOFRESOURCES=0

#
# Maximum message count for each CapURL.
# Make sure that the number of CapMSGCOUNT's defined equals the number 
# of CapURLs defined above. 
#
# If the CapMSGCOUNT is set to NULL, then the count for all SP is set to 0.
# CapMSGCOUNT can either be set to NULL, 0 or a positive value.
# 
CapMSGCOUNT=1000

#
# TOKENALGO refers to ther algorithm that needs to be followed to 
# Validate the token. It can be either 0 for Signed tokens, 1 for unsigned
# and 2 for either format. 
#
TOKENALGO=2

#
# TC Code to be reported
#
TCCODE=41

#
# In order to report the PDD value in the UI, 
# Set this parameter to 1.
#
IS_PDD_INFO_AVAILABLE=1

# NOTE: Before you can use the TransNexus OSP Test Server, you must send an
#       e-mail to support@transnexus.com which contains the IP address of
#       the machine running test_app if the machine is outside ALL
#       firewalls, or the IP address of the OUTERMOST firewall.
#
#
############################################################################

############################################################################
#
# If you don't have a specific customer id or device id, set the values to
# 1000, 1000.  This is a default customer that is available on the test OSP
# server for test purposes.  Otherwise, change the values as necessary.
#

CUSTID=1000
DEVID=1000

#
############################################################################

############################################################################
#
# Change as necessary for routing tests.
#
# In order to test different scenarios with the test OSP Nexus Server,
# (with the service points provided), change the "CALLED" parameter to
# one of the following phone numbers to perform whichever test:
#
#     Customer Dials      Server Test
#     --------------      -------------------------------
#     0 + (anything)      Route with zero  destinations (blocked)
#     1 + (anything)      Route with one   destination
#     2 + (anything)      Route with two   destinations
#     3 + (anything)      Route with three destinations
#     4 + (anything)      Route with four  destinations
#     5 + (anything)      Route with five  destinations
#     6 + (anything)      Route with six   destinations
#     7 + (anything)      Route with seven destinations
#     8 + (anything)      Route with eight destinations
#     9 + (anything)      No Routes available
#
# The list of all destination addresses that might be returned are:
#    1.1.1.1, 2.2.2.2, 3.3.3.3, 4.4.4.4
#    5.5.5.5. 6.6.6.6, 7.7.7.7, 8.8.8.8
#
# For example:
# If you choose a route with four destinations, then you will
# recieve (one at a time in random order) the addresses from
# 1.1.1.1 through 4.4.4.4. You cycle through all the random
# addresses by first calling GetFirstDestination, then
# repeatedly calling GetNextDestination.
#
#
# Examples:
# CALLED=1449132 will return one destination (1.1.1.1)
# CALLED=1992    will return one destination (1.1.1.1)
# CALLED=3       will return three destinations (1.1.1.1, 2.2.2.2, 3.3.3.3)
# CALLED=0892    will return zero destinations
# CALLED=9       will indicate that the routes are unavailable
#
# By default, the following CALLED is set for the server to return
# two routes: 1.1.1.1 and 2.2.2.2
#
# Calling and Called number formats can be either  0 for E164 or 1 for SIP 
# and 2 for URL.

CALLED=1678
CALLING=14048724799

CALLING_NUM_FORMAT=0
CALLED_NUM_FORMAT=0
#
############################################################################

############################################################################
#
# Number of Test Calls

TEST_CALLS=500

#
############################################################################
